__pycache__/word_list.cpython-36.pyc
__pycache__/anagram_search.cpython-36.pyc
__pycache__/anagram.cpython-36.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/anagram_search.iml
